@use "../abstracts";

.dropdown {
    position: relative;
    z-index: 1;
    width: 185px;
    @include abstracts.screen(sm) {
        width: 300px;
        margin-right: 5px;
    }

    &__menu {
        position: absolute;
        top: 153%;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        min-width: 195px;
        background: var(--header-dropdown-menu-bg-color);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        &--hide {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.25s, opacity 0.25s;
        }

        &--show {
            visibility: visible;
            opacity: 1;
        }
    }

    &__item {
        display: flex;
        align-items: center; 
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 10px;
        padding: 15px 20px;
        color: var(--header-dropdown-item-color);
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
            background: var(--header-dropdown-item-hover-color);
            color: var(--header-dropdown-item-text-hover-color);
        }

        &:hover &-icon {
            filter: var(--header-dropdown-item-icon-hover-color);
        }

        &-icon {
            filter: var(--header-dropdown-item-icon-color);
        }
    }
}