.auth-layout {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &__back {
        position: absolute;
        top: 25px;
        left: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 25px;
        height: 25px;
        color: #fff;
        background: #1890ff;
        border-radius: 5px;
        flex-shrink: 0;

        &:hover {
            opacity: 0.9;
        }
    }

    &__title {
        color: var(--header-logo-text-color);
        background-clip: text;
        background-image: var(--header-logo-text-bg-image-color);
        --webkit-background-clip: text;
        --webkit-text-fill-color: transparent;
        font-weight: 700;
        font-size: 3rem;
        line-height: 1.6;
    }

    &__logo {
        width: 77px;
        height: 51px;
    }

    &__form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__name {
        margin-bottom: 5px;
    }

    &__email {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    &__password-container {
        position: relative;
    }

    &__password {
        margin-top: 15px;
        margin-bottom: 5px;
        padding-right: 37px !important;
    }

    &__eys {
        position: absolute;
        top: 60%;
        right: 12px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &__name,
    &__email,
    &__password {
        background: #f3f3f3;
        min-width: 250px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    &__name:focus,
    &__email:focus,
    &__password:focus {
        border-color: #1890ff; 
        box-shadow: 0 0 4px rgba(24, 144, 255, 0.6);
    }

    &__error {
        font-style: italic;
        font-size: 1.3rem;
        color: red;
    }

    &__register {
        min-width: 280px;
        margin-top: 35px !important;
    }

    &__register-btn {
        min-width: 280px;
        padding: 10px 30px;
        border-radius: 30px;
        color: #333;
        position: relative;
        z-index: 0;
        background: linear-gradient(to bottom, #f4f4f4 0%, #565656 50%, #93B3AE 100%);

        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &::before {
            content: "";
            position: absolute;
            inset: 5px;
            border-radius: 25px;
            background: #fff;
            z-index: -1;
        }

        &:hover {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }
    }

    &__btn {
        text-align: center;
        margin-top: 35px;
        min-width: 200px;
        padding: 10px 30px;
        border-radius: 30px;
        color: #333;
        position: relative;
        z-index: 0;
        background: linear-gradient(to bottom, #f4f4f4 0%, #565656 50%, #93B3AE 100%);

        &::before {
            content: "";
            position: absolute;
            inset: 5px;
            border-radius: 25px;
            background: #fff;
            z-index: -1;
        }

        &:hover {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }

        &-resend {
            border: 1px solid #ccc;
            font-size: 1.2rem;
            font-weight: 500;
            padding: 5px 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            background: #fff;

            &:hover {
                background: #edeaea;
            }
        }
    }

    &__forgot {
        margin-top: 99px;
    }

}